# ---- Linux Kernel Module build artifacts ----

# Object files
*.o
*.ko
*.ko.cmd
*.mod.o
*.mod.c
*.mod
*.cmd

# Module order and symbol table
modules.order
Module.symvers
Module.markers
Module.symvers.cmd
Module.markers.cmd

# .tmp and .cache directory
.tmp*
.cache*

# Kernel auto-generation files
*.order
*.symtypes
*.dwo
*.d
*.cmd

# Other
*.mod.cmd
.*.o.cmd
.*.ko.cmd
.*.mod.o.cmd

# ---- CLion files ----
.idea/
cmake-build*/
out/

#------ Python vitrual environment files ----
.venv/
venv/
ENV/

##----- Metrics log
#logs
#.csv